<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">

</head>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">About Us</a>
      </li>

       <li class="nav-item">
        <a class="nav-link disabled">Services</a>
      </li>

       <li class="nav-item">
        <a class="nav-link " href="#">createPost</a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Praxware Technoloiges</h5>
    <p class="card-text">We are product and service based company in IT industry. We are rapidaly growing with our certified and best quality delivered to our happy clients. With the explore of IT industry we also provide industrial training for IT language and graphics. We have very powerful and intelligent team to provide best knowledge and experience.

</p>
    <a href="#" class="btn btn-primary">Visit Here</a>
  </div>
</div>
